*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f8f9fa; /* Daha açıq və modern boz */
    border-radius: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #dcdcdc; /* Gradient efekti */
    border-radius: 12px;
    border: 2px solid #ffffff; /* Daxili sərhəd */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a7a6a6; /* Hover üçün yumşaq keçid */
    border: 2px solid #e0e0e0; /* Açıq boz border hoverda */
  }
  
  ::-webkit-scrollbar-corner {
    background: #f8f9fa; /* Küncləri uyğunlaşdırır */
  }
  